@import url('https://fonts.googleapis.com/css2?family=Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

* {
  box-sizing: border-box;
}

.full-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;

}

.main-container {
  width: 100%;
  top: var(--header-height);
  color: #111;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}


.page-title {
  width: 100%;
  margin-top: 1rem;
  font-family: var(--title-font);
  font-size: var(--section-title-font-size);
  font-weight: 700;
  letter-spacing: .04em;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

.page-subtitle {
  margin: 0;
  color: var(--secondary-color);
  font-size: var(--small-font-size);
  font-weight: 400;
  letter-spacing: .04em;
}




/* Mobile */

@media (max-width: 768px) {

  .full-page-container,
  .main-container {
    width: 100%;
    max-width: 100%;
    padding-bottom: 3rem;
  }

  .page-title {
    font-size: 1.8rem;
    margin: .75rem 0;
    overflow-wrap: break-word;
  }

  .main-container h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  .main-container h3 {
    font-size: 1.2rem;
    text-align: center;
  }

}

@media (max-width: 480px) {

  .main-container h2 {
    font-size: 1.5rem;
  }

  .main-container h3 {
    font-size: 1rem;
  }

  .page-title {
    font-size: 1.4rem;
  }

}
