@import url('https://fonts.googleapis.com/css2?family=Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* Universal box-sizing */
* {
  box-sizing: border-box;
}

.pages-bottom-container{
  padding-bottom: 2rem;
}


.no-items-text {
  text-align: center;
  padding: 1rem;
  font-style: italic;
  color: var(--muted-color)
}


