@import url('https://fonts.googleapis.com/css2?family=Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.create-clothes-container {
  font-family: 'Helvetica Neue', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 8px 0px;
}

.clothing-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* TEMP DUAL SLIDER */
.range-wrapper {
  position: relative;
  height: 40px;
}

.range {
  position: absolute;
  width: 100%;
  pointer-events: none;
  appearance: none;
  height: 0;
}

.range::-webkit-slider-thumb {
  pointer-events: all;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.range-track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  background: #ddd;
  border-radius: 2px;
}

.range-fill {
  position: absolute;
  height: 4px;
  background: black;
  border-radius: 2px;
}

/* COLORS */
.color-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 4px;
}

.color-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.color-name {
  font-size: 9px;
}

.color-square {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.color-square.selected {
  border: 2px solid #000;
}

/* TAGS INLINE */
.tag-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

/* SEASON */
.season-label {
  display: flex;
  align-items: center;
  gap: 6px;
}