.full-page-container {
  display: flex;
  align-items: center;  
  flex-direction: column;
  font-family: 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}


.main-container {
  font-family: 'Helvetica Neue', sans-serif;
  color: #111;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
}

.main-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: black;
}

.main-container h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}


/*For pages with title -------------------------------------------------------------*/
.page-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  color: black;
  margin: 1rem;
  position: sticky;
  z-index: 1;
}


/* Login and logout for homepage -------------------------------------------------*/

.logout-button {
  display: block;       
  width: 300px;           
  text-align: center;      
  padding: 0.75rem;      
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-sizing: border-box;  
}

.logout-button:hover {
  background-color: #111;
  border: 1px solid  #111;
  color: #fff;
}


.not-logged-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
}

.not-logged-in-container p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #111;
}

.not-logged-in-container a {
  all: unset; /* Reset default link styles */
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  color: #111;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
}

.not-logged-in-container a:hover {
  background-color: #111;
  border-color: #111;
  color: #fff;
}


