
.full-page {
    width: 98.5vw;
    margin: 0;
    padding: 0;
}

/* Sticky Upload Bar below the header */
.sticky-upload-container {
  width: 98.5vw;
  background-color: #111;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 80px; /* THIS NEEDS TO BE THE SAME HEIGHT AS THE HEADER SO THAT IT SITS BENEATH - components/header line 5 */
  z-index: 1050;
}

/* Upload Clothes button styling */
.top-button {
  all: unset;
  display: block;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  background-color: #111;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  user-select: none;
}

.upload-clothes-button:hover,
.upload-clothes-button:focus {
  background-color: #444;
}

.regular-button {
  all: unset;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  color: #111;
  background: none;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  position: relative;
  text-decoration: none;
  transition: color 0.2s ease;
  outline: none;
}

.regular-button::after {
  content: '';
  position: absolute;
  left: 0;
  right: 100%;
  bottom: -2px;
  height: 1px;
  background-color: #111;
  transition: right 0.2s ease;
}

.regular-button:hover::after,
.regular-button:focus::after {
  right: 0;
}

.regular-button:focus,
.regular-button:active {
  outline: none;
  border: none;
}

.clothes-page-container {
  display: flex;

  align-items: center;  
  flex-direction: column;
  font-family: 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

/***For view matches, the css for the h2 is in viewMatches.css***/
/****For the clothes page only****/
.under-button-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: black;
  margin: 4rem 0rem 0rem 0rem;
}

/****For pages without top button****/
.page-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  color: black;
  margin: 1rem;
}

.extra-space {
  margin: 20px;
}


.logout-button {
  display: block;       
  width: 300px;           
  text-align: center;      
  padding: 0.75rem;      
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-sizing: border-box;  
}

.logout-button:hover {
  background-color: #111;
  border: 1px solid  #111;
  color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
  .upload-clothes-button {
    font-size: 1.1rem;
    padding: 1.2rem 0;
  }

  .clothing-page-container {
    padding: 1rem;
  }

}


